*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background: url(./background.jpg) center center/cover no-repeat;
}

.container{
    width: 700px;
    background-color: #56494C;
    color: #ffffff;
    align-items: center;
    margin-top: 100px;
    margin-left: 33%;
    box-shadow: 3px 3px 10px black;
}

.QandA{
    margin-top: 50px;
    padding-bottom: 50px;
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
}

h2{
    position: relative;
    margin: 20px;
    color: #e0bc45;
    font-weight: 700;
    background-color: black;
    padding: 10px;
    cursor: pointer;
}

h2::after{
    content: '+';
    position: absolute;
    right: 30px;
    font-weight: 900;
}

p{
    margin: 20px;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.container .box.active p{
    height: 100px;
}

.container .box.active h2{
    font-size: 18px;
    transition: .5px;
}

.container .box.active h2::after{
    content: '-';
    font-weight: 900;
    transition: .5s;
}
